:root {
  --primary: #304FA2;   /* Primary Blue */
  --secondary: #EF164D; /* Red */
  --text-dark: #000000;
  --text-light: #666666;
  --background: #FFFFFF;
}

body {
  margin: 0;
  font-family: 'Montserrat', sans-serif;
  background: var(--background);
  color: var(--text-dark);
}
